.navbar-brand{
    color: #ffffff !important;
    font-weight: bold;
    font-size: 20px;
}
.navbar form{
    margin-top: 15px;
}

.container{
    padding: 50px;
}

.cardPaddingRight{
    padding-right: 5px;
    padding-left: 0;
}
.cardPaddingLeft{
    padding-left: 5px;
    padding-right: 0;
}

.card-body{
    text-align: center;
}

.title-card-group{
    color: #fff;
    padding-top: 10px ;
}

a{
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.bg-success a:hover{
    background-color: #10a24e;
}

.bg-warning a:hover{
    background-color: #d6c420;
}

.bg-dark a:hover{
    background-color: #727a82;
}

.bg-danger a:hover{
    background-color: #a01713;
}